#home-page {
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 200px !important;
}

.home-header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #3c3c3c;
    
}

.games-we-love {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.games-we-love-link {
    display: block;
    text-decoration: none;
    position: relative;
}

.games-we-love-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.games-we-love-image:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.fig-caption {
    text-align: center;
    margin-top: 10px;
    color: black;
}

.site-info-header {
    text-align: center;
    margin-top: 30px;
}

.site-info-header h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.site-info-header a {
    font-size: 16px;
    color: #3c3c3c;
    text-decoration: none;
}

.site-info-header a:hover {
    text-decoration: underline;
}

.site-info {
    margin-top: 30px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
}

.support,
.community,
.peace {
    text-align: center;
}

.support h3,
.community h3,
.peace h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.support p,
.community p,
.peace p {
    font-size: 16px;
    line-height: 1.5;
}

.site-info-footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.site-info-footer h4 {
    font-size: 28px;
    margin-bottom: 10px;
}

.site-info-footer a {
    font-size: 16px;
    color: #3c3c3c;
    text-decoration: none;
}

.site-info-footer a:hover {
    text-decoration: underline;
}

.games-we-love-image-wrapper {
    position: relative;
    padding-top: 56.25%;
    /* 16:9 aspect ratio */
    overflow: hidden;
    border-radius: 10px;
}

.games-we-love-image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}

.games-we-love-image-wrapper:hover img {
    transform: scale(1.05);
}

.fig-caption {
    text-align: center;
    margin-top: 10px;
}


a.home-btn {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
    text-decoration: none !important;
}

.home-btn:hover {
    background-color: rgba(192, 192, 192, 0.5);
}

@media screen and (max-width: 768px) {
    .games-we-love {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}
